<!DOCTYPE html>
<html>
        <head>
                <title>Test Page </title>
                <meta http-equiv="refresh" content="60" >
        </head>
        <body>
                <form action="buttons/moveDown" method="post"><input type="submit" value="Down"></form>
                <form action="buttons/moveup" method="post"><input type="submit" value="Up"></form>
                <form action="buttons/moveRight" method="post"><input type="submit" value="Right"></form>
                <form action="buttons/moveLeft" method="post"><input type="submit" value="Left"></form>
                <form action="buttons/moveForward" method="post"><input type="submit" value="Forward"></form>
                <form action="buttons/moveBackward" method="post"><input type="submit" value="Backward"></form>
                <form action="buttons/hover" method="post"><input type="submit" value="Hover"></form>
        </body>
</html>


